<!DOCTYPE html>
<html ng-app="fontcutterApp" lang="en">
<head>
	<meta charset="ISO-8859-1">
	<title>Font Cut Lite</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">	
	<link rel="stylesheet" href="css/custom.css">
</head>

<body id="body" ng-controller="fontcutterCtrl">
	<div class="container">
		<button id="textPreviewToggle" class="btn btn-default text-preview-toggle" type="button" ng-click="toggleTextPreview()">
			{{textPreviewVisible ? 'Hide Preview' : 'Show Preview'}}
		</button>
		<div class="text-preview-panel" ng-show="textPreviewVisible">
			<label for="textPreviewInput">Text Preview</label>
			<textarea id="textPreviewInput" class="form-control" rows="10" ng-model="previewText" ng-trim="false" ng-change="onPreviewTextChange()" spellcheck="false" autocorrect="off" autocapitalize="off"></textarea>
			<div class="text-preview-canvas-wrap">
				<canvas id="textPreviewCanvas"></canvas>
			</div>
		</div>

		<!-- ***************************************** Nav Bar ***************************************** -->
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<span class="navbar-brand">Font Cut Lite</span>
			</div>
			<ul class="nav navbar-nav">
				
				<form class="navbar-form navbar-left" role="search"><input type="file" id="imageLoader" name="imageLoader" class="filestyle" data-classButton="btn btn-success" data-input="false" data-buttonText=" Open an image" data-classIcon="glyphicon glyphicon-folder-open" ng-model="fileName"></form>
			</ul>
		</div>

		<!-- ***************************************** Jumbotron ***************************************** -->
		<div class="jumbotron text-center" id="jumbotron">
			
			<div id="jumbotext">
				<h1>Font Cut Lite</h1>
				<p class="lead">A local tool to create AngelCode FNT or XML files from an existing bitmap font image.</p>
			</div>
		</div>

		<div id="canvas-container" style="display:none;" class="text-center">
			<canvas id="imageCanvas"></canvas>
		</div> 
		
		<ul class="nav nav-pills"  id="tabs" >
			<li class="active"><a href="#fixedFontTab" data-toggle="tab">Font Settings</a></li>
			<li class="disabled"><a href="#previewTab" data-toggle="tab" onclick="generatePreview();">Preview</a></li>
			<li class="disabled"><a href="#outputTab" data-toggle="tab"  onclick="generateOutput();">Output</a></li>
		</ul>


		<!-- Tab panes -->
		<div class="tab-content">
			<div id="fixedFontTab" class="tab-pane active">
				<div class="output-options">
					<label>
						<input type="radio" name="outputType" ng-model="outputXML" ng-value="false" />
						FNT Output
					</label>
					<label>
						<input type="radio" name="outputType" ng-model="outputXML" ng-value="true" />
						XML Output
					</label>
				</div>
				<div class="row row-padded option-row">
					<div class="option-field">
						<label for="width">Char Width </label>
						<input class="form-control" name="width" type="number" min="1" step="1" ng-model="charWidth" /> 
					</div>
					<div class="option-field">
						<label for="height">Char Height </label>
						<input class="form-control" type="number" min="1" step="1"  ng-model="charHeight" /> 				
					</div>
					<div class="option-field">
						<label for="height">Top Padding </label>
						<input class="form-control" type="number" min="0" step="1"  ng-model="topPadding" /> 				
					</div>
					<div class="option-field">
						<label for="height">Bottom Padding </label>
						<input class="form-control" type="number" min="0" step="1"  ng-model="bottomPadding" /> 				
					</div>
					<div class="option-field">
						<label for="height">Left Padding </label>
						<input class="form-control" type="number" min="0" step="1"  ng-model="leftPadding" /> 				
					</div>
					<div class="option-field">
						<label for="height">Right Padding </label>
						<input class="form-control" type="number" min="0" step="1"  ng-model="rightPadding" /> 				
					</div>
				</div>
				
				<div class="glyph-text-field">
					<label for="glyphText">List of glyphs</label>
					<textarea id="glyphText" class="form-control" rows="8" ng-model="glyphText" ng-trim="false" ng-change="onGlyphTextChange()" spellcheck="false" autocorrect="off" autocapitalize="off"></textarea>
				</div>
				
			</div>

			<div id="previewTab" class="tab-pane">				
				<table class="table" id="previewTable">					
				</table>
			</div>

			<div id="outputTab" class="tab-pane">
				<textarea name="output" id="output" class="form-control" rows="40" spellcheck="false" autocorrect="off" autocapitalize="off"></textarea>
			</div> 
		</div><!-- /tabContent -->

	</div>


	<script src="js/jquery-1.11.1.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-filestyle.min.js"></script>		


	<script src="js/angular-1.3.0-beta.8.min.js"></script>
	<script src="js/fontcutter.js"></script>
</body>

</html>
